<div class="footer">
  <section class="h-full w-full py-8 bg-gradient-to-br from-gray-700 to-gray-800">
    <div class="flex justify-center">
      <ul>
        <li *ngFor="let sm of socialMedia" class="px-4">
          <a [routerLink]="sm.url"
             class="text-gray-400 transition hover:text-amber-500"
             routerDirection="root"
             target="_blank">
            <!-- <ion-icon [name]="sm.icon" size="large"></ion-icon> -->
          </a>
        </li>
      </ul>
    </div>
    <div class="policies">
      <ul class="flex justify-center mt-6">
        <li *ngFor="let policy of policies" class="px-4">
          <a [routerLink]="policy.url"
             class="text-gray-400 transition hover:text-amber-500"
             routerDirection="root"
             target="_blank">
            {{ policy.title | translate }}
          </a>
        </li>
      </ul>
    </div>
  </section>
  <div class="copyright">
    <p class="text-center m-0 py-4 px-6 w-full bg-gray-900 text-gray-400">
      &copy; {{ currentYear }} Just Enable.
    </p>
  </div>
</div>
