<div class="navigation">
  <a
    routerLink="/"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
    routerDirection="root"
    ><img src="./assets/img/Just Enable Logo.png" alt="Just Enable Logo"
  /></a>
  <nav>
    <ul [ngClass]="{ 'show-menu': showMenu }">
      <li *ngFor="let nav of navigation">
        <a
          [routerLink]="nav.url"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          routerDirection="root"
          >{{ nav.title | translate }}</a
        >
      </li>
    </ul>
    <div class="language">
      <div
        (click)="toggleLanguageList()"
        (clickElsewhere)="hideLanguageList = true"
      >
        <h5>{{ selected }}</h5>
        <ion-icon
          [ngClass]="{ rotate: !hideLanguageList }"
          color="medium"
          name="chevron-down"
        ></ion-icon>
      </div>
      <ul [ngClass]="{ hidden: hideLanguageList }">
        <li
          *ngFor="let lang of languages"
          [ngClass]="{ selected: selected === lang }"
          (click)="setLanguage(lang)"
        >
          <h5>{{ "LANGUAGE." + lang | translate }}</h5>
        </li>
      </ul>
    </div>
    <div
      (click)="toggleMenu()"
      class="menu-button"
      (clickElsewhere)="showMenu = false"
    >
      <div></div>
      <div></div>
      <div></div>
    </div>
  </nav>
</div>
